body {
  margin: 0;
  background-color: #383D3B;
}

html {
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

.side-nav {
  position: fixed;
  width: 250px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #383d3b;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

.side-nav li > a {
  color: #efefef;
  display: block;
  font-family: ubuntu;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}

.side-nav li > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.material-icons {
  position: fixed;
  color: #85ffc7;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 20px;
}

.side-nav .user-view .background,
.side-nav .userView .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.LogoTop {
  position: relative;
  display: block;
  text-align: center;
  top: 10px;
}

.main-nav-login-signup {
  position: fixed;
  top: 400px;
  left: 20px;
  -webkit-transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(0);
}

.main-nav-menu {
  position: fixed;
  top: 459px;
  left: 20px;
  -webkit-transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(0);
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #383D3B;
  color: #EFEFEF;
  padding: 0;
  max-height: 70%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #383D3B;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right;
}

.btn-flat {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  color: #efefef;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.main-nav-restaurant {
  position: fixed;
  top: 300px;
  left: 20px;
  -webkit-transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(0);
}

a.mnavt {
  color: #8D8D8D;
  font-family: ubuntu;
  text-transform: uppercase;
  padding: 0 42.5px;
}

a.mnavt_active {
  color: #efefef;
  font-family: ubuntu;
  text-transform: uppercase;
  padding: 0 42.5px;
}

.Boxes {
  display: block;
  float: right;
  height: 60px;
  width: 250px;
  background-color: #3E4544;
}

#EmailBox {
  position: relative;
  top: 21px;
}

#EmailBox input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-bottom: 0px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #efefef;
}

#EmailBox input:focus {
  border-bottom: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#PasswordBox {
  position: relative;
  top: 23px;
}

#PasswordBox input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-bottom: 0px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #efefef;
}

#PasswordBox input:focus {
  border-bottom: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#Loginbox {
  position: relative;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  background-color: #85d9bf;
  padding-left: 20px;
  border: 0;
  top: 25px;
}

#FacebookBox {
  position: relative;
  text-align: left;
  font-family: ubuntu;
  font-weight: 400;
  background-color: #3B5998;
  top: 110px;
}

#FacebookBox span {
  display: inline-block;
  padding: 22px 20px;
  color: #EFEFEF;
}

#GoogleBox {
  position: relative;
  text-align: left;
  font-family: ubuntu;
  font-weight: 400;
  background-color: #DD4B39;
  top: 112px;
}

#GoogleBox span {
  display: inline-block;
  padding: 22px 20px;
  color: #EFEFEF;
}

#EmailBox2 {
  position: relative;
  top: 23px;
}

#EmailBox2 input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-bottom: 0px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #efefef;
}

#EmailBox2 input:focus {
  border-bottom: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#PasswordBox2 {
  position: relative;
  top: 25px;
}

#PasswordBox2 input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-bottom: 0px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #efefef;
}

#PasswordBox2 input:focus {
  border-bottom: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#FullnameBox {
  position: relative;
  top: 21px;
}

#FullnameBox input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-bottom: 0px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #efefef;
}

#FullnameBox input:focus {
  border-bottom: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#signup {
  position: relative;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  background-color: #85d9bf;
  padding-left: 20px;
  border: 0;
  top: 27px;
}

#FacebookBox2 {
  position: relative;
  text-align: left;
  background-color: #3B5998;
  top: 110px;
}

#FacebookBox2 span {
  display: inline-block;
  padding: 20px 20px;
  color: #EFEFEF;
}

#GoogleBox2 {
  position: relative;
  text-align: left;
  background-color: #DD4B39;
  top: 112px;
}

#GoogleBox2 span {
  display: inline-block;
  padding: 20px 20px;
  color: #EFEFEF;
}

/*
.row {
	float: right;
	position: relative;
	top: 60px;
	width: calc(100% - 80px);
	height: 100%;
	margin: 0;
}

.row .col.s12 {
	width: 100%;
	height: 100%;
	margin-left: auto;
	left: auto;
	right: auto;
}
*/

.rij {
  margin-left: 25%;
}

.menu-container {
  position: relative;
  top: 10px;
  width: 100%;
}

.tabs {
  position: relative;
  overflow-x: inherit;
  overflow-y: hidden;
  height: 50px;
  width: 100%;
  background-color: #383D3B;
  margin: 0 auto;
  white-space: nowrap;
}

.tabs.tabs-transparent {
  background-color: transparent;
}

.tabs.tabs-transparent .tab a,
.tabs.tabs-transparent .tab.disabled a,
.tabs.tabs-transparent .tab.disabled a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
  color: #fff;
}

.tabs.tabs-transparent .indicator {
  background-color: #fff;
}

.tabs.tabs-fixed-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs.tabs-fixed-width .tab {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.tabs .tab a {
  color: #8D8D8D;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
  -webkit-transition: color .28s ease;
  transition: color .28s ease;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: transparent;
  color: #EFEFEF;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: #8D8D8D;
  cursor: default;
}

.tabs .indicator {
  position: absolute;
  bottom: 35%;
  height: 2px;
  background-color: #85D9BF;
  will-change: left, right;
}

.card {
  position: relative;
  margin: 20px 0;
  width: 259px;
  background-color: #383D3B;
  -webkit-transition: none;
  transition: none;
  transition: none;
  transition: none;
  border-radius: 0px;
}

.card .card-title {
  font-size: 24px;
  font-weight: 300;
}

.card .card-title.activator {
  cursor: pointer;
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  display: block;
  border-radius: 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 140px;
}

.card .card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 0px;
}

.card .card-content {
  padding-top: 0px;
  border-radius: 0;
}

.card .card-content p {
  margin: 0;
  color: #EFEFEF;
}

.card .card-content h5 {
  margin: 2;
  color: #EFEFEF;
}

.card .card-content .card-title {
  display: block;
  line-height: 5px;
  margin-bottom: 0px;
}

.card .card-content .card-title i {
  line-height: 32px;
}

.card .card-action {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px 24px;
}

.card .card-action:last-child {
  border-radius: 0 0 2px 2px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #ffab40;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #ffd8a6;
}

.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 550px !important;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  overflow-y: scroll;
}

.carousel .carousel-item {
  display: none;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 10px;
  left: 0;
}

.product {
  height: 70px;
}

.product span {
  float: right;
  margin-top: -5px;
  margin-right: 30px;
  color: #efefef;
  font-size: 20px;
}

.amount_selector {
  border: 1px solid black;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  display: none;
}

.amount_selector .plus,
.amount_selector .min {
  cursor: pointer;
}

.product-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.product-container img {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 4px;
  padding-bottom: 10px;
}

.product-container p {
  font-family: 'Ubuntu', sans-serif;
  color: #efefef;
  line-height: 15px;
  margin: 0;
  padding-top: 10px;
}

.product-container:last-child {
  margin-bottom: 60px;
}

.amount_selector {
  text-align: center;
  width: 100%;
  padding-top: 13px;
  border: none;
}

.amount_selector input[type=number] {
  width: 50px;
  text-align: center;
  border-bottom: none;
  margin: 0;
  color: #efefef;
}

.amount_selector .min {
  position: fixed;
  color: #85ffc7;
  font-size: 30px;
  margin-left: -110px;
  float: left;
  margin-top: 6px;
}

.amount_selector .plus {
  position: fixed;
  color: #85ffc7;
  font-size: 30px;
  margin-left: 60px;
  margin-top: 6px;
}

.order button {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: #85d9bf;
  border: none;
}

.bill-field {
  display: block;
  position: relative;
  float: right;
  margin-bottom: 7px;
}

.bill-container {
  padding-top: 50px;
}

.orderbox {
  position: relative;
  top: 23px;
  display: inline-block;
  float: right;
  height: 70px;
  width: 280px;
  background-color: #3E4544;
}

